[submodule "cmake_modules/tensorflow-cmake"]
	path = cmake_modules/tensorflow-cmake
	url = git@github.com:326623/tensorflow-cmake
	branch = master
[submodule "abseil-cpp"]
	path = abseil-cpp
	url = https://github.com/abseil/abseil-cpp
